:root {
  --bg-color: #0f0f23;
  --bg-color-spec: #10101a;
  --color: #ccc;
  --color-spec: #fff;
  --special: #0c0;
  --special-hov: #9f9;
}

body {
  background-color: var(--bg-color);
  padding: 0;
  margin: 0;
  font-family: monospace;
  
  color: var(--color);

  min-height: 100vh;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

#navbar {
  height: 7.5vh;
  font-size: 2em;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
}

#navbar a {
  color: var(--special);
  text-shadow: 0 0 2px var(--special), 0 0 5px var(--special);
  cursor: pointer;
  text-decoration: none;
}

#navbar a:hover {
  color: var(--special-hov);
  text-shadow: 0 0 2px var(--special-hov), 0 0 5px var(--special-hov);
}

#calendar {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1%;
  grid-column-gap: 1%;

  height: 80vh;
  aspect-ratio: 1/1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.day {
  background-color: var(--bg-color-spec);
  border: 1px solid var(--special);
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 100ms;
}

.day:hover {
  text-shadow: 0 0 5px var(--color-spec); 
  color: var(--color-spec) !important;
  transition-duration: 100ms;

  box-shadow: 0 0 2px var(--special-hov), 0 0 5px var(--special-hov);
}

.day a {
  margin: 0;
  color: var(--color);
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  align-content: center;
}

.exists {

  cursor: pointer;
}

#main {
  width: 80%;
  height: 80vh;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  display: flex;
  gap: 1em;
}

#left, #right {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-spec);
  border: 1px solid var(--special);
  padding: 1%;
  box-sizing: border-box;
  overflow: scroll;
}

#left > h1, #right > h1 {
  margin: 0;
}

details {
  border: 1px solid var(--special);
  margin: 2em 0;
  overflow: scroll;

  max-height: calc(100% - 5em); 
  transition-duration: 100ms;
}

summary:hover {
  text-shadow: 0 0 2px var(--color), 0 0 5px var(--color);

  transition-duration: 100ms;
}

details summary::marker,
:is(::-webkit-details-marker) {
  content: "+";
  font-family: monospace;
  font-weight: bold;
}

details[open] summary::marker {
  content: "-";
}

details p, details ul {
  font-size: 1.25em;
}

details ul { list-style-type: none; padding: 0; }
details ul li { padding-left: 1em; text-indent: -1em; }
details ul li:before { content: "-"; padding-right: 5px; }

summary {
  cursor: pointer;
  font-size: 2em;
  position: sticky;
  top: 0;
  padding: 1%;
  background-color: var(--bg-color-spec);
  transition-duration: 100ms;
}

.code {
  background-color: var(--bg-color);
  font-size: 1.25em;
  box-sizing: border-box;
  padding: 1%;
  width: fit-content;
  white-space: pre-line;
}

.details {
  padding: 1%;
}

#mid {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-spec);
  border: 1px solid var(--special);
  padding: 1%;
  box-sizing: border-box;
  overflow: scroll;
}

.full {
  width: 100%;
}

#solutions {
  list-style-type: none;
  font-size: 2em;
  padding: 0;

}

#solutions a {
  cursor: pointer;
  color: var(--color);
  text-decoration: none;
}

#solutions a:hover {
  text-shadow: 0 0 2px var(--color), 0 0 5px var(--color);
}

#credit {
  color: var(--color);
  text-decoration: none;
  text-shadow: 0 0 2px var(--color);
}
